.footer {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.footer h5 {
  font-size: 1.2rem;
  color: #333;
}

.footer ul {
  padding-left: 0;
  list-style: none;
}

.footer ul li {
  color: #666;
  margin-bottom: 10px;
}
