@media (max-width: 768px) {
  .header-text {
    font-size: 40px !important;
  }

  @media (max-width: 500px) {
    .header-text {
      font-size: 32px !important;
    }
  }
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
